<div class="container">

  <div class="row">
    <div class="col-md-4" style="max-width: 290px;">
      <p id="title2">Screens Details</p>
      <div>
        <button [ngClass]="showViewOrAddSection === 'VIEW' ? selectedButton : ''"
                (click)="toggleBetweenAddOrViewClassesSection('VIEW')" style="width: 50%">List
        </button>
        <button [ngClass]="showViewOrAddSection === 'ADD' ? selectedButton : ''"
                (click)="toggleBetweenAddOrViewClassesSection('ADD')" style="width: 50%">Add/Edit
        </button>
      </div>
      <div class="card" style="max-width: 290px;" *ngIf="showViewOrAddSection === 'VIEW' && screens.length > 0">
        <div class="card-body">
          <p-table selectionMode="single" (onRowSelect)="onScreenSelected($event)" [tableStyle]="{'min-width': '100%'}"
                   [value]="screens" styleClass="p-datatable-sm p-datatable-gridlines" [(selection)]="selectedScreen">
            <ng-template pTemplate="header">
              <tr>
                <th>Screens</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-screen>
              <tr [pSelectableRow]="screen">
                <td>{{screen.screenName}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="card" style="max-width: 290px;" *ngIf="showViewOrAddSection === 'ADD'">
        <div class="card-body">

          <label for="screenSelection">Selected Screen</label>
          <select id="screenSelection" (change)="selectScreen($event)"
                  style="min-height: 30px; width: 220px; text-align: left; padding-left: 5px">
            <option selected disabled hidden="hidden" value="">Choose a Screen</option>
            <option *ngFor="let screen of screens" value="{{screen.id}}">{{screen.name}}</option>
          </select>

          <form [formGroup]="classesForm" (ngSubmit)="saveOrUpdateScreen()">
            <label for="id">ID:</label>
            <input id="id" readonly type="number" class="form-control form-control-sm mb-2"
                   formControlName="id">


            <label for="screenName"><span class="required">*</span>Screen Name:</label>
            <input id="screenName" type="text" class="form-control form-control-sm mb-1" formControlName="screenName"
                   required>

            <label for="shortDescription"> <span class="required">*</span>Short Description:</label>
            <input id="shortDescription" type="text" class="form-control form-control-sm mb-2"
                   formControlName="shortDescription"
                   required>

            <label for="description">Description:</label>
            <input id="description" type="text" class="form-control form-control-sm mb-2" formControlName="description">

            <div class="row">
              <div class="col-xl-5">
                <label for="module" class="form-label"><span class="inputtext">Module:</span></label>
              </div>
              <div class="col-xl-7">
                <select id="module" class="form-control form-control-sm mb-1 " formControlName="module">
                  <option value=""></option>
                  <option value="GIS">GIS</option>
                  <option value="BANCA">BANCA</option>
                </select>

              </div>
            </div>
            <br>
            <div class="row action-section">
              <button (click)="clearBtnClicked()" class="btn" id="clear" style="color: #00529B; font-weight: bolder">
                Clear
              </button>
              <button class="btn" type="submit" id="save">Save</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 *ngIf="selectedScreen" class="modal-title" id="exampleModalLongTitle">Add field details
                to {{selectedScreen.name}}</h5>
              <h5 *ngIf="!selectedScreen" class="modal-title">Add field details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="fieldForm" (ngSubmit)="saveOrUpdateField()">
                <div *ngIf="!addSelectOptions" class="row">
                  <div class="{{showFieldAdvancedSetup ? 'col-xl-6' : 'col-xl-12' }}">
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="idInput">Id:</label>
                      </div>
                      <div class="col-xl-8">
                        <input readonly id="idInput" type="text" class="form-control form-control-sm mb-1"
                               formControlName="id">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="nameInput">Control Name:</label>
                      </div>
                      <div class="col-xl-8">
                        <input id="nameInput" type="text" class="form-control form-control-sm mb-1"
                               formControlName="name">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="labelInput">Label:</label>
                      </div>
                      <div class="col-xl-8">
                        <input id="labelInput" type="text" class="form-control form-control-sm mb-1"
                               formControlName="label">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="typeInput">Type:</label>
                      </div>
                      <div class="col-xl-8">
                        <select id="typeInput" class="form-control form-control-sm mb-1 " formControlName="type">
                          <option value=""></option>
                          <option value="text">text</option>
                          <option value="date">date</option>
                          <option value="number">number</option>
                          <option value="checkbox">checkbox</option>
                          <option value="select">select</option>
                        </select></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="defaultValueInput">Default Value</label>
                      </div>
                      <div class="col-xl-8">
                        <input id="defaultValueInput" type="text" class="form-control form-control-sm mb-1"
                               formControlName="defaultValue" required>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="placeholderInput"><span
                          class="inputtext">Placeholder:</span></label>
                      </div>
                      <div class="col-xl-8">
                        <input id="placeholderInput" class="form-control form-control-sm mb-1"
                               formControlName="placeholder">
                      </div>
                    </div>
                    <br>
                    <div class="row" style="display: flex; justify-content: space-around; padding: auto 10px">
                      <button type="button" (click)="toggleShowFieldAdvancedSetup()" style="color: #00529B; font-weight: normal;"
                              class="btn">advanced
                      </button>
                      <button (click)="toggleAddSelectOptions()" *ngIf="fieldForm.value.type === 'select'"
                              style="color: #00529B; font-weight: normal"
                              class="btn">Add choices
                      </button>
                    </div>

                  </div>

                  <div *ngIf="showFieldAdvancedSetup" class="col-xl-6">
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="isRequiredInput"><span
                          class="inputtext">Required:</span></label>
                      </div>
                      <div class="col-xl-8">
                        <select id="isRequiredInput" class="form-control form-control-sm mb-1 "
                                formControlName="isMandatory">
                          <option value="Y">Yes</option>
                          <option value="N" selected>No</option>
                        </select></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="isEnabledInput"><span
                          class="inputtext">Enabled:</span></label>
                      </div>
                      <div class="col-xl-8">
                        <select id="isEnabledInput" class="form-control form-control-sm mb-1 "
                                formControlName="isEnabled">
                          <option value="Y" selected>Yes</option>
                          <option value="N">No</option>
                        </select></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="isHiddenInput"><span
                          class="inputtext">Hidden:</span></label>
                      </div>
                      <div class="col-xl-8">
                        <select id="isHiddenInput" class="form-control form-control-sm mb-1 "
                                formControlName="isHidden">
                          <option value="Y">Yes</option>
                          <option value="N" selected>No</option>
                        </select></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="isReadOnlyInput"><span
                          class="inputtext">Read only:</span></label>
                      </div>
                      <div class="col-xl-8">
                        <select id="isReadOnlyInput" class="form-control form-control-sm mb-1 "
                                formControlName="isReadOnly">
                          <option value="Y">Yes</option>
                          <option value="N" selected>No</option>
                        </select></div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="toolTipInput"><span class="inputtext">Tooltip:</span></label>
                      </div>
                      <div class="col-xl-8">
                        <input id="toolTipInput" class="form-control form-control-sm mb-1" formControlName="toolTip">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="maxInput"><span class="inputtext">Max</span></label>
                      </div>
                      <div class="col-xl-8">
                        <input id="maxInput" type="number" class="form-control form-control-sm mb-1"
                               formControlName="max">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="form-label" for="minInput"><span class="inputtext">Min:</span></label>
                      </div>
                      <div class="col-xl-8">
                        <input id="minInput" type="number" class="form-control form-control-sm mb-1"
                               formControlName="min">
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="addSelectOptions" class="row card"
                     style="display: flex; flex-direction: column; margin-top: 10px">

                  <div class="card-header" style="display: flex; justify-content: space-between">
                    <button type="button" (click)="toggleAddSelectOptions()" *ngIf="fieldForm.value.type === 'select'"
                            style="background-color: #00529B; color: white; border-radius: 5px; font-weight: normal"
                            class="btn"><< back
                    </button>

                    <button (click)="toggleListSelectOptions()" type="button" *ngIf="fieldForm.value.type === 'select'"
                            style="color: #00529B; border: 2px solid #00529B; border-radius: 5px; font-weight: normal"
                            class="btn">{{!listSelectOptions ? 'list' : '+Add'}}
                    </button>
                  </div>
                  <div class="card-body" style="margin: auto">
                    <div><h4 align="center">Options</h4></div>
                    <div *ngIf="listSelectOptions">
                      <p-table selectionMode="single" (onRowSelect)="onSelectOptionChosen($event)"
                               [tableStyle]="{'min-width': '100%'}"
                               [value]="newSelectOptions" styleClass="p-datatable-sm p-datatable-gridlines"
                               [(selection)]="chosenSelectOption">
                        <ng-template pTemplate="header">
                          <tr>
                            <th>Text</th>
                            <th>Value</th>
                            <th>Selected</th>
                            <th>Hidden</th>
                            <th>Enabled</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-option>
                          <tr [pSelectableRow]="option">
                            <td>{{option.text}}</td>
                            <td>{{option.value}}</td>
                            <td>{{option.isSelected}}</td>
                            <td>{{option.isHidden}}</td>
                            <td>{{option.isEnabled}}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div *ngIf="!listSelectOptions">
                      <form [formGroup]="selectOptionForm" (ngSubmit)="addNewSelectOption()">


                        <div class="col-xl-6 ">
                          <div class="col-xl-6">
                            <label for="optionText">Text</label>
                          </div>
                          <div class="col-xl-6">
                            <input formControlName="text" id="optionText" type="text"/>
                          </div>
                        </div>
                        <br>
                        <div class="col-xl-6 ">
                          <div class="col-xl-6">
                            <label for="optionValue">Value</label>
                          </div>
                          <div class="col-xl-6">
                            <input formControlName="value" id="optionValue" type="text"/>
                          </div>
                        </div>
                        <br>
                        <div style="display: flex; justify-content: space-around;">
                          <label for="isSelected">Selected</label>

                          <select formControlName="selected" id="isSelected">
                            <option value="Y">Yes</option>
                            <option value="N" selected>No</option>
                          </select>
                        </div>
                        <br>
                        <div style="display: flex; justify-content: space-around;">
                          <label for="isHidden">Hidden</label>
                          <select formControlName="hidden" id="isHidden">
                            <option value="Y">Yes</option>
                            <option value="N" selected>No</option>
                          </select>
                        </div>
                        <br>
                        <div style="display: flex; justify-content: space-around;">
                          <label for="isEnabled">Enabled</label>
                          <select formControlName="enabled" id="isEnabled">
                            <option value="Y" selected>Yes</option>
                            <option value="N">No</option>
                          </select>

                        </div>
                        <br>
                        <div style="display: flex; justify-content: space-around">
                          <button type="button" class="btn" style="border: 2px solid #00529B; color: #00529B">Clear
                          </button>
                          <button type="submit" class="btn"
                                  style="background-color: #00529B; color: white">Add
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button (click)="clearFieldsEntry()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" style="background-color: #00529B"
                          class="btn btn-primary">{{selectedField ? 'Update' : 'Save'}}</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <div>

        <div class="card" style="max-width: 100%; margin-top: 45px">
          <div class="card-header">
            <h5>Fields</h5>
            <div style="display: flex; justify-content: space-between">
              <ul class="nav">
                <li *ngIf="selectedScreen" class="nav-item"
                    style="border: 1px solid #00529B; border-radius: 5px; margin: auto 5px">
                  <a (click)="clearFieldsEntry()" class="nav-link active" aria-current="page" data-toggle="modal"
                     data-target="#exampleModalCenter">+Add
                    field</a>
                </li>
                <li class="nav-item" *ngIf="selectedField"
                    style="border: 1px solid #00529B; border-radius: 5px; margin: auto 5px">
                  <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Edit field</a>
                </li>
                <li class="nav-item" *ngIf="selectedField"
                    style="border: 1px solid #00529B; border-radius: 5px; margin: auto 5px">
                  <a (click)="deleteFieldById(selectedField)" class="nav-link">-Delete field</a>
                </li>
              </ul>
              <button *ngIf="selectedScreen" [routerLink]="['/preview']" [queryParams]="{screenId: selectedScreen.id}"
                      class="btn" style="background-color: #00529B; color: white; border-radius: 5px">Preview
              </button>
            </div>
          </div>
          <p-toast></p-toast>
          <p-confirmDialog [style]="{'max-width': '400px'}"></p-confirmDialog>
          <div class="card-body" *ngIf="selectedScreen">
            <p-table [value]="selectedScreen.fields" [tableStyle]="{ 'min-width': '50rem' }"
                     styleClass="p-datatable-sm p-datatable-gridlines" selectionMode="single"
                     [(selection)]="selectedField" dataKey="id" (onRowSelect)="onFieldSelected($event)">
              <ng-template pTemplate="header">
                <tr>
                  <th>Label</th>
                  <th>Type</th>
                  <th>Control Name</th>
                  <th style="max-width:100px">Is required</th>
                  <th style="max-width:100px">Enabled</th>
                  <th style="max-width:100px">Hidden</th>
                  <th style="max-width:100px">Read only</th>
                  <th>Max</th>
                  <th>Min</th>
                  <th style="max-width:100px">Default Value</th>
                  <th style="min-width: 100px; max-width: 200px; max-height: 50px">Placeholder</th>
                  <th>Tooltip</th>

                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-field>
                <tr [pSelectableRow]="field">
                  <td style="min-width: 200px">{{field.label}}</td>
                  <td>{{field.type}}</td>
                  <td>{{field.name}}</td>
                  <td>{{field.isMandatory}}</td>
                  <td>{{field.isEnabled}}</td>
                  <td>{{field.isHidden}}</td>
                  <td>{{field.isReadOnly}}</td>
                  <td>{{field.max}}</td>
                  <td>{{field.min}}</td>
                  <td>{{field.defaultValue}}</td>
                  <td style="min-width: 100px; max-width: 200px; max-height: 10px">{{field.placeholder}}</td>
                  <td style="min-width: 200px">{{field.toolTip}}</td>

                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
